canvas {
    border: 1px solid black;
}
body {
    /* background: 0 -100px repeat-x url(../img/1.jpg) #4F191A; */
    margin: 10px;
  }
  
  img {
    display: none;
  }
  
  table {
    margin: 0 auto;
  }
  
  td {
    padding: 15px;
  }